/* * {
    border: 2px solid pink
} */

@import 'normalize.css';

:root {
--background-color: #fff3eb;
--color1: #694f5d;
--color3: #bfd3c1;
--font-family1: 'oswald';
--font-family2: 'inria sans'
}

body {
   
    background-color: var(--background-color);
   display: flex;
}

.master-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
}

.wrapper {
    height: 100vh;
    width: 33%;
    display: flex;
    border: 2px solid;
    position: relative;
    flex: 1;
}

.img-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
}

.logo {
    height: 75px;
    max-width: 33%;
    position: absolute;
    top: 15rem;
    background-color: rgba(105, 79, 93, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: 5rem;
    width: 4rem;
}

.logo > p {
    color: whitesmoke;
}

.hero-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    flex: 1;
}

.hero-top {
    margin-top: 10rem;
}

.hero-signup {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: flex-end;
    background: linear-gradient(450deg, hsla(126, 19%, 79%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);
    background: -moz-linear-gradient(450deg, hsla(126, 19%, 79%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);
    background: -webkit-linear-gradient(450deg, hsla(126, 19%, 79%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);
}

.signup-left {
    align-self: flex-end;
}

